{% extends 'appcoder/padre.html' %}

{% load static%}

{% block contenidoQueCambia %}
<h1>Listado de Cursos</h1>

<a href={% url 'Nuevo Curso' %}>Nuevo Curso</a>
{% for curso in cursos %}
    <li>Nombre: {{curso.nombre}}</li>
        <p>
            <a href="{% url 'DetalleCurso' curso.pk %}">Ver</a>

            <a href="{% url 'EditarCurso' curso.pk %}">Editar</a>

            <a href="{% url 'BorrarCurso' curso.pk %}">Borrar</a>
        </p>
    <li>

{% endfor%}
{%endblock contenidoQueCambia%}
